In [1]:
#Tables and matrices
import numpy as np
import pandas as pd

#Stats
import scipy.stats as st
from scipy.optimize import fmin
from scipy import integrate
from scipy.stats.mstats import mquantiles
import statsmodels.formula.api as smf
import statsmodels.api as sm 
from statsmodels.stats.diagnostic import het_breuschpagan #Heteroskedasticity test
from statsmodels.stats.diagnostic import het_white #Heteroskedasticity test

#Probabilistic programs
#!pip install numpy mkl #if you are in an intel machine i.e. in mac M# chips no
#!pip install pymc
#!pip install pytensor
import pymc as pm
import pytensor.tensor as pt
#import aesara.tensor as at
print('Running on PyMC v{}'.format(pm.__version__))


#Graphs 
#IMPORTANT: properly install ipywidgets and nodejs for interactive graphs
#If you are in jupyterlab, activate the widget extension (it should be in the latest versions)
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import cm
from matplotlib.gridspec import GridSpec
from matplotlib import animation, rc
from IPython.display import display, HTML, Markdown
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, HBox, VBox, Layout
from mpl_toolkits.mplot3d import axes3d
import arviz as az

WARNING (pytensor.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

Running on PyMC v5.10.3

In [2]:
def f(k,robust = False): #Esta función tiene comandos para la regresión y para gráficas.
    #k: heterosdactity parameter...larger more heteroscedasticity
    f, axes = plt.subplots(1, 2, figsize=(12, 4))
    #Noise here depends on the level of the variable X
    Y_noise = np.random.normal(loc = 0, scale = X_data**k, size = n)
    Y = pd.DataFrame({"X": X_data, "Y": Y_raw + Y_noise})
    
    # Regressin
    model = smf.ols(formula='Y ~ X', data = Y)
    if robust == True:
        results = model.fit(cov_type='HC3') #robust standard errors (to heteroskedasticity)
    else:
        results = model.fit() 
    residuals = results.resid
    Y['predictions'] = results.predict(Y['X'])
    white_test = het_white(residuals,  model.exog)
    bp_test = het_breuschpagan(residuals, model.exog)
    
    
    #Gráficas
    sns.scatterplot(x = 'X', y='Y', data=Y, color = 'black', ax = axes[0])
    axes[0].set_title("Heteroskedasticity \n Variance in y depends on x level")
    axes[0].plot(Y['X'], Y['predictions'], color = 'red')
    axes[1].axis('off')
    const = str(round(results.params[0],3))
    slope = str(round(results.params[1],3))
    axes[1].text(0, 0.5, 'Truth: Intercept: 1.370; Coef. X: 2.097 \nRegres: Intercept: ' + const + '; Coef. X: ' + slope,
        color='black', fontsize=15)
    
    #Output
    plt.show()
    print(results.summary()) 
    print("Durbin Watson measures autocorrelation of residuals. Close to 2 is good, zero autocorrelations")
    print("Jarque Bera is a test of normality of the residuals for large samples (n>2000). Large values and p<0.05 not normal")
    labels = ['LM-Statistic','LM-Test p-value', 'F-Statistic', 'F-Test p-value']
    print("Breusch Pagan test (p<0.05 there is Heteroskedasticity): ", dict(zip(labels[2:4], bp_test[2:4]))) # p<0.05 hay heterocedasticidad
    print("White test (p<0.05 there is Heteroskedasticity): ", dict(zip(labels[2:4], white_test[2:4]))) # p<0.05 hay heterocedasticidad
    
    plt.figure()
    fig =  sm.graphics.plot_regress_exog(results, "X")
    fig.tight_layout(pad=1.0)

# Residuals and heteroskedasticity visualization.

It can bias the estimates as shown below. Change k and use robust std. error. Note how the normality, autocorrelation, and heteroskedasticity tests change. Also, the residuals visualizations.

In [3]:
n = 2000
X_data = np.linspace(1,100, n)
Y_raw = 1.37 + 2.097 * X_data #The underlying truth ... the majority of the times is unknown...here for pedagogical reasons we do know it

interact(f, k = widgets.FloatSlider(min=0, max=3, step=.2, value=1.25), 
         robust = widgets.Checkbox(value = False, description = 'Robust std. err.')); #Larger k more heteroskedasticity

interactive(children=(FloatSlider(value=1.25, description='k', max=3.0, step=0.2), Checkbox(value=False, descr…

# Running regressions in Python (and R to some extent)

In [8]:
amazon

,uid,company_v,poverq,soverq,pq,satis,repur,recomm,Q19,VN_1009_Q20A,...,race,work,pincome,income,educat,childsupp,marital,gender,house,DOI
0,5,ZALORA,9,7,6,7,6,5,0,8,...,1,1,2,4,8,1,2,1,2,1/29/2018
1,11,FAVE,7,8,8,7,7,6,0,8,...,1,1,2,4,7,99,1,1,2,1/29/2018
2,15,FAVE,6,7,7,6,6,6,0,7,...,1,1,4,5,8,2,2,2,3,02/01/2018
3,19,AMAZON,8,8,7,8,8,6,0,8,...,1,1,3,5,8,2,2,2,3,02/01/2018
4,20,QOO10,7,6,8,8,6,5,0,7,...,1,1,4,5,8,2,2,1,3,02/01/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,6066,FAVE,7,7,7,8,6,7,0,8,...,1,3,,7,7,4,2,2,6,2/26/2018
1596,6068,EBAY,7,9,9,8,9,6,0,7,...,1,1,7,8,7,4,2,1,6,2/27/2018
1597,6070,ZALORA,6,6,8,7,9,9,0,8,...,1,2,3,8,7,1,2,2,6,2/27/2018
1598,6079,TAOBAO/TMALL,7,8,8,7,7,8,0,8,...,1,1,4,9,8,2,2,2,6,03/03/2018
1599,6087,AMAZON,6,6,6,8,9,8,1,9,...,1,1,3,7,8,99,1,1,6,03/04/2018

In [12]:
#Load data
amazon = pd.read_csv("Amazon_Satisfaction_Singapore.csv")
amazon_var_dictionary = pd.read_csv("Amazon_Satisfaction_Singapore_Var_Dictionary.csv") #Description of variables

#Filter for only Amazon
amazon_r = amazon.query("company_v=='AMAZON'")

[(200, 50), (1600, 50)]

In [15]:
amazon_r.company_v.unique()

array(['AMAZON'], dtype=object)