# Introducci√≥n Python

Authors : Cindee Madison, Thomas Kluyver (https://bids.github.io/2016-01-14-berkeley/python/00-python-intro.html)

Translations and extensions by: Santiago Alonso

We will work in the cloud. In Google Colab.


For local use, install Anaconda.

Some practicing exercise:
* https://horstmann.com/codecheck/python-questions.html

## 1. VARIABLES 

The most basic component of any programming language are "things", also called variables or (in special cases) objects.

The most common basic "things" in Python are: 
- integer
- float 
- strings 
- booleans 
- Otros (e.g. pandas dataframes, numpy array). 

We'll meet many of these as we go through the lesson.

__TIP:__ To run the code in a cell quickly, press Shift-Enter.

__TIP:__ To quickly create a new cell below an existing one, go to a cell and type b.

In [ ]:
# A "thing" (integer)
2

In [ ]:
# Use print to show multiple things in the same cell
# Note that you can use single or double quotes for strings
print(2)
print("hola mundo")
print('hola mundo')

In [ ]:
# Things can be stored as variables
a = 2
b = 'hello'
c = True  # This is case sensitive
print(a, b, c)

In [ ]:
# The type function tells us the type of thing we have
print(type(a))
print(type(b))
print(type(c))

### <span style="color:purple">Now you</span>
Make three variables, with names and types of your preference. To do it, create a code cell below this one.

## 2. Commands that operate on things
Just storing data in variables isn't much use to us. Right away, we'd like to start performing operations and manipulations on data and variables.

There are three very common means of performing an operation on a thing.

### 2.1 Use an operator
All of the basic math operators work like you think they should for numbers. They can also do some useful operations on other things, like strings. There are also boolean operators that compare quantities and give back a bool variable as a result.

In [ ]:
# Standard math operators work as expected on numbers
a = 2
b = 3
print(a + b)
print(a * b)
print(a ** b)  # a to the power of b (a^b does something completely different!)
print(a / b)   # Careful with dividing integers if you use Python 2

In [ ]:
# There are also operators for strings
print('hello' + 'world')
print('hello' * 3)
#print('hello' / 3)  # You can't do this!

In [ ]:
# Boolean operators compare two things
a = (1 > 3)
b = (3 == 3)
c = 'vaca' == 'Vaca' 
d = 'vaca' == 'vaca'
print(a)
print(b)
print(c)
print(d)
print(a or b)
print(a and b)

### 2.2 Functions

Group of instructions that transform an input

In [ ]:
# There are thousands of functions that operate on things
print(type(3))
print(len('hello'))
print(round(3.3))

__TIP:__ To find out what a function does, you can type it's name and then a question mark to get a pop up help window. Or, to see what arguments it takes, you can type its name, an open parenthesis, and hit tab

In [ ]:
round?
round(3.14159, 2)

__TIP:__ Many useful functions are not in the Python built in library, but are in external scientific packages. These need to be imported into your Python notebook (or program) before they can be used. Probably the most important of these are numpy and matplotlib.

In [ ]:
# Many useful functions are in external packages 
# Let's meet numpy y pandas
import numpy as np  #We put an alias to numpy, "np", para acortar cuando lo usamos
import pandas as pd

In [ ]:
# To see what's in a package, type the name, a period, then hit tab
# Also, go to forums like stackoverflow when you have doubts or see execution errors
# pd?
# pd.

In [ ]:
# Some examples of numpy functions and "things" 
print(np.sqrt(4))
print(np.pi)  # Not a function, just a variable
print(np.sin(np.pi))

### 2.3 Methods
Before we get any farther into the Python language, we have to say a word about "objects". We will not be teaching object oriented programming in this workshop, but you will encounter objects throughout Python (in fact, even seemingly simple things like ints and strings are actually objects in Python).

In the simplest terms, you can think of an object as a small bundled "thing" that contains within itself both data and functions that operate on that data. For example, strings in Python are objects that contain a set of characters and also various functions that operate on the set of characters. When bundled in an object, these functions are called "methods".

Instead of the "normal" `function(arguments)` syntax, methods are called using the syntax `variable.method(arguments)`.

In [ ]:
# A string is actually an object 
a = 'hola, mundo'
print(type(a))

In [ ]:
# Objects have bundled methods. 
#a. 
print(a.capitalize())
print(a.replace('l', 'X'))

### EXERCISE 1 - Conversion

Throughout this lesson, we will successively build towards a program that will calculate the variance of some measurements, in this case Height in Metres. The first thing we want to do is convert from an antiquated measurement system.

1. Create a code cell below this one and do the following.
1. Create a variable called `inches_in_metre` that indicates how many inches there is in a metre.
1. Create a variable `inches` with any number of inches.
1. Convert inches to metres and save the result in a variable called `metres` 
1. Print `metres`

## 3. Object collections

While it is interesting to explore your own height, in science we work with larger slightly more complex datasets. In this example, we are interested in the characteristics and distribution of heights. Python provides us with a number of objects to handle collections of things.

Probably 99% of your work in scientific Python will use one of four types of collections: `lists`, `tuples`, `dictionaries`, `numpy arrays`, `pandas dataframes`. We'll look quickly at each of these and what they can do for you.

### 3.1 Lists

Lists are probably the handiest and most flexible type of container.

Lists are declared with square brackets [].

Individual elements of a list can be selected using the syntax a[ind].

In [ ]:
# Lists are created with square bracket syntax
a = ['blueberry', 'strawberry', 'pineapple']
print(a, type(a))

In [ ]:
# Lists (and all collections) are also indexed with square brackets
# NOTE: The first index is zero, not one
print(a[0])
print(a[1])
print(a[2])

In [ ]:
## You can also count from the end of the list
print('last item is:', a[-1])
print('second to last item is:', a[-2])

In [ ]:
# you can access multiple items from a list by slicing, using a colon between indexes
# NOTE: The end value is not inclusive
print('a =', a)
print('get first two:', a[0:2])

In [ ]:
# You can leave off the start or end if desired
print(a[:2])
print(a[2:])
print(a[:])
print(a[:-1])

In [ ]:
# Lists are objects, like everything else, and have methods such as append
a.append('banana')
print(a)

a.append([1,2])
print(a)

a.pop()
print(a)

__PRECAUCI√ìN:__ A 'gotcha' for some new Python users is that many collections, including lists, actually store pointers to data, not the data itself.

Remember when we set b=a and then changed a?

What happens when we do this in a list?

HELP: look into the copy module

In [ ]:
#Int, float, strings, are inmutable
a = 1
b = a
print('original b', b)
a = 2
print('What is b after changing a?', b)

#Lists are mutable
a = [1, 2, 3]
b = a
print('original b', b)
a[0] = 42
print('What is b after changing a?', b) # I changed a and this also change b!!!

#How to copy mutables? see the module copy
import copy
a = [1,2,3]
b = copy.deepcopy(a)
print('original b', b)
a[0] = 42
print('What is b after changing a?', b)

### EXERCISE 2 - Store a bunch of heights (in metres) in a list
1. Ask five people around you for their heights (in metres).
1. Store these in a list called `heights`.
1. Append your own height, calculated above in the variable metres, to the list.
1. Get the first height from the list and print it.
**Bonus**
Extract the last value in two different ways: first, by using the index for the last item in the list, and second, presuming that you do not know how long the list is.
HINT: len() can be used to find the length of a collection

### 3.2 Tuples
We won't say a whole lot about tuples except to mention that they basically work just like lists, with two major exceptions:

1. You declare tuples using () instead of []
1. Once you make a tuple, you can't change what's in it (referred to as immutable)

You'll see tuples come up throughout the Python language, and over time you'll develop a feel for when to use them.

In general, they're often used instead of lists:

1. to group items when the position in the collection is critical, such as coord = (x,y)
1. when you want to make prevent accidental modification of the items, e.g. shape = (12,23)

In [ ]:
xy = (23, 45)
print(xy[0])
xy[0] = "this won't work with a tuple"

### Anatomy of a traceback error
Traceback errors are raised when you try to do something with code it isn't meant to do. It is also meant to be informative, but like many things, it is not always as informative as we would like.

Looking at our error:

1. The command you tried to run raise a TypeError. 
1. This suggests you are using a variable in a way that its Type doesnt support. `tuples` son inmutables
1. In Jupyter, the arrow ----> points to the line where the error occurred, In this case on line 3 of your code form the above line.
Learning how to read a traceback error is an important skill to develop, and helps you know how to ask questions about what has gone wrong in your code (many errors and their solutions can be found in Google, and Stackoverflow)

### 3.3 Dictionaries

Dictionaries are the collection to use when you want to store and retrieve things by their names (or some other kind of key) instead of by their position in the collection. A good example is a set of model parameters, each of which has a name and a value. 

Dictionaries are declared using {}.

In [ ]:
# Make a dictionary of model parameters 
# key:value
convertors = {'inches_in_feet' : 12,
              'inches_in_metre' : 39}

print(convertors)
print(convertors['inches_in_feet'])

In [ ]:
## Add a new key:value pair
convertors['metres_in_mile'] = 1609.34
print(convertors)

In [ ]:
# Raise a KEY error
print(convertors['blueberry'])

### 3.4 Numpy arrays (ndarrays)

Even though numpy arrays (often written as ndarrays, for n-dimensional arrays) are not part of the core Python libraries, they are so useful in scientific Python that we'll include them here in the core lesson. Numpy arrays are collections of things, all of which must be the same type, that work similarly to lists (as we've described them so far). The most important are:

1. You can easily perform elementwise operations (and matrix algebra) on arrays
1. Arrays can be n-dimensional
1. There is no equivalent to append, although arrays can be concatenated
1. Arrays can be created from existing collections such as lists, or instantiated "from scratch" in a few useful ways.

When getting started with scientific Python, you will probably want to try to use ndarrays whenever possible, saving the other types of collections for those cases when you have a specific reason to use them.

In [ ]:
# We need to import the numpy library to have access to it 
# We can also create an alias for a library, this is something you will commonly see with numpy

import numpy as np

In [ ]:
# Make an array from a list
alist = [2, 3, 4]
blist = [5, 6, 7]
a = np.array(alist)
b = np.array(blist)
print(a, type(a))
print(b, type(b))

In [ ]:
# Do arithmetic on arrays
print(a**2)
print(np.sin(a))
print(a * b)
print(a.dot(b), np.dot(a, b))

In [ ]:
# Boolean operators work on arrays too, and they return boolean arrays
print(a > 2)
print(b == 6)

c = a > 2
print(c)
print(type(c))
print(c.dtype)

In [ ]:
# Indexing arrays
print(a[0:2])

c = np.random.rand(3,3)
print(c)
print('\n')
print(c[1,1])
print(c[1:3,0:2])

c[0,:] = a
print('\n')
print(c)

In [ ]:
# Arrays can also be indexed with other boolean arrays
print(a)
print(b)
print(a > 2)
print(a[a > 2])
print(b[a > 2])

b[a == 3] = 77
print(b)

In [ ]:
# ndarrays have attributes in addition to methods
#c.
print(c.shape)
print(c.prod())

In [ ]:
# There are handy ways to make arrays full of ones and zeros
print(np.zeros(5), '\n')
print(np.ones(5), '\n')
print(np.identity(5), '\n')

In [ ]:
# You can also easily make arrays of number sequences
print(np.arange(0, 10, 2))

### 3.5 Pandas dataframes

Dataframes are similar to numpy arrays; they are actually build on numpy array, and they can be also thought as matrices with columns that gather variables of the same type (e.g one column can be names, another income, etx).

At the same time, dataframes and numpy ndarray differ. For example, Python processes numpy arrays faster. However, dataframes have many useful functions and methods not present in numpy arrays. That's why we learn, and use, both.

In [ ]:
# Let's import the module pandas with the alias pd.
# If you imported the module before, you don't need to import it twice.
import pandas as pd

In [ ]:
# Building dataframes from dictionaries.
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}
purchases = pd.DataFrame(data) #Each key is a column in the dataframe, and each value of the key is a row.
purchases

In [ ]:
# Building dataframes from numpy array
data_numpy_array = np.array([[3, 2, 0, 1], [0, 3, 7, 2]])
purchases = pd.DataFrame(np.transpose(data_numpy_array), 
                       columns = ['apples','oranges'])
purchases

In [ ]:
# Building dataframes from a list
data_list = [[3, 0], [2, 3], [0, 7],[1,2]] #Cada item de la lista es una fila del dataframe
purchases = pd.DataFrame(data_list, 
                       columns = ['apples','oranges'])
purchases

In [ ]:
# The constructor pd.DataFrame enumarates the rows. We can change them to strings
# Rows are called index
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
purchases

In [ ]:
# We can use the index name to locate values in a column (cell values)
purchases.loc['Robert',:]

In [ ]:
# We can use the column name to locate values iin a row (cell values)
purchases.loc[:,'oranges']

In [ ]:
# We can access individual values
purchases.loc['David','apples']

In [ ]:
# with the method reset_index() we can enumarate again the rows and drop the names
purchases = purchases.reset_index(drop = True)
print(purchases)

# This is useful to access cells by their coordinates
purchases.iloc[0,0]

### EJERCICIO 3 - An√°lisis simple con numpy arrays

Revisit your list of heights

1. Create a new cell code below
1. turn the list of heights into a numpy array
1. calculate the mean and standard deviation
1. create a mask of all heights greater than a certain value (your choice)
1. find the mean of the masked heights

Numpy broadcasting
https://numpy.org/doc/stable/user/basics.broadcasting.html

<center><img src="np_broadcast_visual.png" width = "400" height = '400'></center>

## 4. ITERAR: LOOPS FOR Y LOOPS WHILE

So far, everything that we've done could, in principle, be done by hand calculation. In this section and the next, we really start to take advantage of the power of programming languages to do things for us automatically.

We start here with ways to repeat yourself. The two most common ways of doing this are known as for loops and while loops. For loops in Python are useful when you want to cycle over all of the items in a collection (such as all of the elements of an array), and while loops are useful when you want to cycle for an indefinite amount of time until some condition is met.

The basic examples below will work for looping over lists, tuples, and arrays. Looping over dictionaries is a bit different, since there is a key and a value for each item in a dictionary. Have a look at the Python docs for more information.

In [ ]:
# A basic for loop - don't forget the white space!
wordlist = ['hi', 'hello', 'bye']
for word in wordlist:
    print(word + '!')

**Note on indentation**: Notice the indentation once we enter the for loop. Every idented statement after the for loop declaration is part of the for loop. This rule holds true for while loops, if statements, functions, etc. Required identation is one of the reasons Python is such a beautiful language to read.

If you do not have consistent indentation you will get an `IndentationError`. Fortunately, most code editors will ensure your indentation is correction.

NOTE In Python the default is to use four (4) spaces for each indentation, most editros can be configured to follow this guide.

In [ ]:
# Indentation error: Fix it!
for word in wordlist:
    new_word = word.capitalize()
   print(new_word + '!') # Bad indent

In [ ]:
# Sum all of the values in a collection using a for loop
numlist = [1, 4, 77, 3]

total = 0
for num in numlist:
    total = total + num
    
print("Sum is", total)

In [ ]:
# Often we want to loop over the indexes of a collection, not just the items
print(wordlist)
for i, word in enumerate(wordlist):
    print(i, word, wordlist[i])

In [ ]:
# While loops are useful when you don't know how many steps you will need,
# and want to stop once a certain condition is met.
step = 0
prod = 1
while prod < 100:
    step = step + 1
    prod = prod * 2
    print(step, prod)
    
print('Reached a product of', prod, 'at step number', step)

### EXERCISE 4 - Variance

We can now calculate the variance of the heights we collected before.

As a reminder, **sample variance* is the calculated from the sum of squared differences of each observation from the mean:

### $variance = \frac{\Sigma{(x-mean)^2}}{n-1}$

where mean is the mean of our observations, x is each individual observation, and n is the number of observations.

First, we need to calculate the mean:

1. Create a variable total for the sum of the heights.
2. Using a for loop, add each height to total.
3. Find the mean by dividing this by the number of measurements, and store it as mean.
__Note__: To get the number of things in a list, use len(the_list).

Now we'll use another loop to calculate the variance:

1. Create a variable sum_diffsq for the sum of squared differences.
1. Make a second for loop over heights.
    * At each step, subtract the height from the mean and call it diff.
    * Square this and call it diffsq.
    * Add diffsq on to sum_diffsq.
1. Divide diffsq by n-1 to get the variance.
1. Display the variance.

__Note__: To square a number in Python, use **, eg. 5**2.

Bonus

Test whether variance is larger than 0.01, and print out a line that says "variance more than 0.01: " followed by the answer (either True or False).

## 5. CONDITIONAL IF

Often we want to check if a condition is True and take one action if it is, and another action if the condition is False. We can achieve this in Python with an if statement.

__TIP__: You can use any expression that returns a boolean value (True or False) in an if statement. Common boolean operators are ==, !=, <, <=, >, >=. You can also use `is` and `is not` if you want to check if two variables are identical in the sense that they are stored in the same location in memory.

In [ ]:
# A simple if statement
x = 3
if x > 0:
    print('x is positive')
elif x < 0:
    print('x is negative')
else:
    print('x is zero')

In [ ]:
# If statements can rely on boolean variables
x = -1
test = (x > 0)
print(type(test)); print(test)

if test:
    print('Test was true')

## 6. FUNCTIONS & MODULES

One way to write a program is to simply string together commands, like the ones described above, in a long file, and then to run that file to generate your results. This may work, but it can be cognitively difficult to follow the logic of programs written in this style. Also, it does not allow you to reuse your code easily - for example, what if we wanted to run our logistic growth model for several different choices of initial parameters?

The most important ways to "chunk" code into more manageable pieces is to create functions and then to gather these functions into modules, and eventually packages. Below we will discuss how to create functions and modules. A third common type of "chunk" in Python is classes, but we will not be covering object-oriented programming in this workshop.

In [ ]:
# We've been using functions all day
x = 3.333333
print(round(x, 2))
print(np.sin(x))

In [ ]:
# It's very easy to write your own functions
def multiply(x, y):
    return x*y

In [ ]:
# Once a function is "run" and saved in memory, it's available just like any other function
print(type(multiply))
print(multiply(4, 3))

In [ ]:
# It's useful to include docstrings to describe what your function does, inputs, and outputs
def say_hello(time, people):
    '''
    Function says a greeting. Useful for engendering goodwill
    '''
    return 'Good ' + time + ', ' + people

**Docstrings**: A docstring is a special type of comment that tells you what a function does. You can see them when you ask for help about a function

In [ ]:
say_hello('afternoon', 'friends')

In [ ]:
# All arguments must be present, or the function will return an error
say_hello('afternoon')

In [ ]:
# Keyword arguments can be used to make some arguments optional by giving them a default value
# All mandatory arguments must come first, in order; parameters with default values at the end
def say_hello(time, people='friends'):
    return 'Good ' + time + ', ' + people

In [ ]:
say_hello('afternoon')

In [ ]:
say_hello('afternoon', 'students')

### EJERCICIO 5 - Crear una funci√≥n de varianza

Finally, let's turn our variance calculation into a function that we can use over and over again. Copy your code from Exercise 4 into the box below, and do the following:

1. Turn your code into a function called `calculate_variance` that takes a list of values and returns their variance.
2. Write a nice docstring describing what your function does.
3. In a subsequent cell, call your function with different sets of numbers to make sure it works.

Create another code cell and do the following:

1. Refactor your function by pulling out the section that calculates the mean into another function called `calculate_mean`, and calling that inside your `calculate_variance` function.
1. Make sure it can works properly when all the data are integers as well.
1. Give a better error message when it's passed an empty list. Use the web to find out how to raise exceptions in Python.

### EJERCICIO 6 - Put `Calculate_mean` & ` Calculate_variance` in a module

We can make our functions more easily reusable by placing them into modules that we can import, just like we have been doing with `numpy`. It's pretty simple to do this.

1. Copy your function(s) into a new text file, in the same directory as this notebook, called `stats.py`.
1. In the cell below, type `import stats` to import the module. 
1. Type `stats`. and hit tab to see the available functions in the module. 
1. Try calculating the variance of a number of samples of heights (or other random numbers) using your imported module.

## 7. LOAD, ARRANGE, USE, AND SAVE DATA 

Data scientists obtain and use information from many sources. Python can manage many formats (csv, dta, RData, mat, json, sql, etc). In this section we will use `pandas dataframes`.

### 7.1 LOAD

In [1]:
import numpy #already loaded, here for pedagogical reasons
import json
import pandas as pd #already loaded, here for pedagogical reasons

In [ ]:
# To load a .csv file
data_csv = pd.read_csv('GHE2016_AllAges.csv') #Death rate by country and disease type
print(type(data_csv))
data_csv.head() #It's on wide format; later we will see how to put it in long format

In [3]:
babynames = pd.read_csv('babynames.csv') 
print(babynames.dtypes) #name and data type of each column (i.e. variables)
babynames

Unnamed: 0      int64
year            int64
sex            object
name           object
n               int64
prop          float64
dtype: object

         Unnamed: 0  year sex       name     n      prop
0                 1  1880   F       Mary  7065  0.072384
1                 2  1880   F       Anna  2604  0.026679
2                 3  1880   F       Emma  2003  0.020521
3                 4  1880   F  Elizabeth  1939  0.019866
4                 5  1880   F     Minnie  1746  0.017888
...             ...   ...  ..        ...   ...       ...
1924660     1924661  2017   M      Zykai     5  0.000003
1924661     1924662  2017   M     Zykeem     5  0.000003
1924662     1924663  2017   M      Zylin     5  0.000003
1924663     1924664  2017   M      Zylis     5  0.000003
1924664     1924665  2017   M      Zyrie     5  0.000003

[1924665 rows x 6 columns]

In [ ]:
# To load an stata .dat file
data_stata = pd.read_stata('heus_mepssample.dta')
itr = pd.read_stata('heus_mepssample.dta', iterator=True) #has the description of the variables
print(data_stata.dtypes) 
print('\n')
print("La variable ed_hs es: " + itr.variable_labels()['ed_hs'])

In [ ]:
# To load a .json file
with open('black_mirror.json') as f: 
    data = json.load(f) #parses f (the json file in text form) and puts it in a dictionary
print(data.keys()) #Dictionary keys
data_json = pd.DataFrame(data['_embedded']['episodes']) #black mirror episodes in a pandas data frame
print(data_json.dtypes) #columns and data types. Each row is an episod
print('\n')
episode = 6
print(data_json.loc[episode,'name']) 
print(data_json.loc[episode,'season']) 
print(data_json.loc[episode,'summary'])

### 7.2 Arrange

Based on the tutorial premiers for rstudio cloud

In [ ]:
# Same data, different arrangement
tabla1 = pd.read_csv('For_Reshape_Tutorial.csv')
tabla2 = pd.read_csv('For_Reshape_Tutorial_2.csv')
tabla3 = pd.read_csv('For_Reshape_Tutorial_3.csv')
tabla4a = pd.read_csv('For_Reshape_Tutorial_4a.csv') #casos
tabla4b = pd.read_csv('For_Reshape_Tutorial_4b.csv') #poblaci√≥n
tabla5 = pd.read_csv('For_Reshape_Tutorial_5.csv')

In [ ]:
# Let's see table 1
print(tabla1.dtypes)
print("(rows, columns): " + str(tabla1.shape))
print('\n')
print(tabla1)

Some definitions:
* **Variable:** Measurable/describable property.

* **Value**: value of a variable (e.g. the variable `age` can take different values).

* **Observation**: set of values from different variables (e.g. the age, SES, gender of an individual)

### EXERCISE 7 - Identify variables, values, and observations

In tabla 1:
- What are variables? 
- What are values? 
- What are observations?

In [ ]:
# Let's see other tables
tabla2

In [ ]:
tabla3

In [ ]:
tabla4a

In [ ]:
tabla4b

In [ ]:
tabla5

All tables have the same information, however some times we want them in an specific arrangement. For instance, let's imagine we want tabla 2 but arranged as tabla 1 (and assume we do not have tabla 1). How can we rearrange tabla 2?

In [ ]:
# We want tabla 2 to look as tabla 1
# Problem: in tabla 2, cases y population are in the column "type"
# Objective: go from long to wide format: extend the columna type into two new columns cases & population
# Solution: pd.pivot_table()

tabla2_wide = pd.pivot_table(tabla2, index = ['country', 'year'], columns = ['type'], values = ['count']).reset_index()
tabla2_wide.columns = ['country','year', 'cases','population']
tabla2_wide #en formato wide (ancho)

In [ ]:
# Para comparar con la obtenida en la anterior celda
tabla1

In [ ]:
# Now the opposite problem: there are some columns that I want to collapse into one
# That is, we want tabla 1 to look like tabla 2
# Problem: in tabla 1, cases y population are in different columns
# Objective: go from wide to long: colapse the columns cases & population into one
# Soluci√≥n: pd.melt()

tabla1_long = pd.melt(tabla1, id_vars = ['country', 'year'], value_vars = ['cases','population'], 
                     var_name = 'type', value_name = 'count').reset_index(drop=True)
tabla1_long = tabla1_long.sort_values(by = ['country', 'year'], ascending = True)
tabla1_long #en formato long (largo)

In [ ]:
# Para comparar con la obtenida en la anterior celda
tabla2

### EXERCISE 8 - Arrange a table

In the database GHE2016_AllAges.csv each country has a column. We are interested in using country as a variable, thus we need to change the arrangement of the database. This means that we are interested in using a long format i.e. collapse many columns (countries) into one. Do the following:

* Load the database into a python variable called `data_raw`
* Create a python variable called `columnas_data_raw` with the names of the columns of `data_raw`. TIP: use the method .columns
* Use pd.melt to create a new python variable called `data_long`. In `data_long` place all countries in a single column called `country`. TIP: the names of the countries are in `columnas_data_raw`, from the index 7 onward
* What are the columns temp3 y temp4? Rename these columns TIP: use the method .rename.

### 7.3 Use
Python has many libraries to analize data. In this section we will obtain descriptive stats.

We will use an R database called `babynames`. It has the frequency (n) and proportion (prop) of different names (name) by gender (sex) during a long period (1880-2017)(year) in the United States.

This section is inspired by Rstudio cloud premiers. P.S. Some comparisons with R https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_r.html

In [ ]:
#Do not forget to run previous code cells
print(babynames.describe())
print("Amount of different names: " + str(len(babynames['name'].unique())))

In [ ]:
# Let's count how many times your name appears
# .query() filters row values.
name = babynames.query("(name == 'Santiago') & (sex == 'M')") #Note how we use "" to be able to use '' inside
print(name)
name['n'].sum()

In [ ]:
# Now some descriptive stats like max, min, mean, std 
name = babynames.query("(name == 'Santiago') & (sex == 'M')")
print("On average, the name appears each year: " + str(round(name['n'].mean())))
print("The standard deviation across years: " + str(round(name['n'].std())))
print("The min. number of times the name appears in a year: " + str(round(name['n'].min())))
print("The max. number of times the name appears in a year: " + str(round(name['n'].max())))

In [ ]:
# Let's compute descriptive stats for all names
# .groupby breaks the data base in groups by the desired variables/column

# men
baby_filter = babynames.query("(sex == 'M')")
names_mean = round(baby_filter.groupby(['name']).mean()) #sum, std, etc.
print(names_mean['n'].sort_values(ascending = False).head(20)) #top 20
print('\n')

# women
baby_filter = babynames.query("(sex == 'F')")
names_mean = round(baby_filter.groupby(['name']).mean())
print(names_mean['n'].sort_values(ascending = False).head(20)) #top 20
print('\n')

# total by year and gender
names_mean = babynames.groupby(['year','sex']).sum().reset_index()
print(names_mean.head(20))

In [ ]:
# Graphs with ggplot via plotnine
#!pip install plotnine
import plotnine as p9
from plotnine import ggplot, geom_line, aes, stat_smooth, facet_wrap, themes

names_mean = babynames.groupby(['year','sex']).sum().reset_index()
p1 = (ggplot(names_mean, aes('year', 'n', color='sex'))
 + geom_line() 
 + themes.theme_xkcd() #many themes e.g. theme_classic()
)

p1

In [ ]:
# Graphs with matplotlib
import matplotlib
from matplotlib import pyplot as plt

fig1 = plt.figure(figsize = [9,6]) #initialize a blank canvas
idx = names_mean['sex'] == 'F'
x = names_mean.loc[idx,'year']
y = names_mean.loc[idx,'n']
plt.plot(x, y, color = 'red', label = 'F')

idx = names_mean['sex'] == 'M'
x = names_mean.loc[idx,'year']
y = names_mean.loc[idx,'n']
plt.plot(x, y, color = 'cyan', label = 'M')

plt.legend()
plt.xlabel('Year')
plt.ylabel('Number of names');

### EXERCISE 9 - Usage of databases

With the method .query(), filter three diseases in the database GHE2016_AllAges.csv. Import the database as a pandas dataframe

Print the first 30 rows for each disease. Tip: use .head()

Use the version `data_long` (from exercise 8)

### 7.4 Save

Some times a code could take hours or even days. In such cases, it is a good idea to save the output so that the next time you just load them.

In [ ]:
# Save in csv
data_long.to_csv('GHE2016_AllAges_long.csv')

In [ ]:
# Save in pickle (python format)
data_long.to_pickle('GHE2016_AllAges_long.pkl')

In [ ]:
# Save in .dat (Stata)
# You can rename columns before saving:
# data_long = data_long.rename({'People(x1000)':'People_x_1000'}) 
data_long.to_stata('GHE2016_AllAges_long.dat')

In [ ]:
# Save in excel 
data_long.to_excel('GHE2016_AllAges_long.xlsx')

In [ ]:
# Save images
ggplot.save(p1, filename = 'p1_ggplot.pdf')

fig1.savefig('p1_matplotlib.pdf')

### EXERCISE 10 - Make a graph and save it

Graph the evolution across years of the name Mary for women in the data `babynames`.

Save the graph in `mi_primera_figura.png`. Use matplotlib.

# 8. Polars

[Based on Polars documentation](https://docs.pola.rs/user-guide/)

In [22]:
import polars as pl
import numpy as np
from datetime import datetime

### Build data frame

In [6]:
df = pl.DataFrame(
    {
        "integer": [1, 2, 3],
        "date": [
            datetime(2022, 1, 1),
            datetime(2022, 1, 2),
            datetime(2022, 1, 3),
        ],
        "float": [4.0, 5.0, 6.0],
    }
)

print(df)

shape: (3, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ integer ‚îÜ date                ‚îÜ float ‚îÇ
‚îÇ ---     ‚îÜ ---                 ‚îÜ ---   ‚îÇ
‚îÇ i64     ‚îÜ datetime[Œºs]        ‚îÜ f64   ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1       ‚îÜ 2022-01-01 00:00:00 ‚îÜ 4.0   ‚îÇ
‚îÇ 2       ‚îÜ 2022-01-02 00:00:00 ‚îÜ 5.0   ‚îÇ
‚îÇ 3       ‚îÜ 2022-01-03 00:00:00 ‚îÜ 6.0   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

### Save and load data

In [8]:
df.write_csv("output.csv")
df_csv = pl.read_csv("output.csv")
print(df_csv)

shape: (3, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ integer ‚îÜ date                       ‚îÜ float ‚îÇ
‚îÇ ---     ‚îÜ ---                        ‚îÜ ---   ‚îÇ
‚îÇ i64     ‚îÜ str                        ‚îÜ f64   ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1       ‚îÜ 2022-01-01T00:00:00.000000 ‚îÜ 4.0   ‚îÇ
‚îÇ 2       ‚îÜ 2022-01-02T00:00:00.000000 ‚îÜ 5.0   ‚îÇ
‚îÇ 3       ‚îÜ 2022-01-03T00:00:00.000000 ‚îÜ 6.0   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

# Use

In [9]:
df.select(pl.col("*")) # * is for all columns

shape: (3, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ integer ‚îÜ date                ‚îÜ float ‚îÇ
‚îÇ ---     ‚îÜ ---                 ‚îÜ ---   ‚îÇ
‚îÇ i64     ‚îÜ datetime[Œºs]        ‚îÜ f64   ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1       ‚îÜ 2022-01-01 00:00:00 ‚îÜ 4.0   ‚îÇ
‚îÇ 2       ‚îÜ 2022-01-02 00:00:00 ‚îÜ 5.0   ‚îÇ
‚îÇ 3       ‚îÜ 2022-01-03 00:00:00 ‚îÜ 6.0   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [10]:
df.select(pl.col("integer", "date")) #Specific columns

shape: (3, 2)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ integer ‚îÜ date                ‚îÇ
‚îÇ ---     ‚îÜ ---                 ‚îÇ
‚îÇ i64     ‚îÜ datetime[Œºs]        ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1       ‚îÜ 2022-01-01 00:00:00 ‚îÇ
‚îÇ 2       ‚îÜ 2022-01-02 00:00:00 ‚îÇ
‚îÇ 3       ‚îÜ 2022-01-03 00:00:00 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [11]:
df.select(pl.exclude("float"))

shape: (3, 2)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ integer ‚îÜ date                ‚îÇ
‚îÇ ---     ‚îÜ ---                 ‚îÇ
‚îÇ i64     ‚îÜ datetime[Œºs]        ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1       ‚îÜ 2022-01-01 00:00:00 ‚îÇ
‚îÇ 2       ‚îÜ 2022-01-02 00:00:00 ‚îÇ
‚îÇ 3       ‚îÜ 2022-01-03 00:00:00 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [13]:
#Filter
df.filter((pl.col("integer") >= 2) & (pl.col("float").is_not_nan()))

shape: (2, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ integer ‚îÜ date                ‚îÜ float ‚îÇ
‚îÇ ---     ‚îÜ ---                 ‚îÜ ---   ‚îÇ
‚îÇ i64     ‚îÜ datetime[Œºs]        ‚îÜ f64   ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 2       ‚îÜ 2022-01-02 00:00:00 ‚îÜ 5.0   ‚îÇ
‚îÇ 3       ‚îÜ 2022-01-03 00:00:00 ‚îÜ 6.0   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [15]:
#Create columns
df.with_columns(pl.col("integer").sum().alias("Sum_Column_Integer"), (pl.col("integer") + pl.col("float")).alias("Integer_Plus_Float"))

shape: (3, 5)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ integer ‚îÜ date                ‚îÜ float ‚îÜ Sum_Column_Integer ‚îÜ Integer_Plus_Float ‚îÇ
‚îÇ ---     ‚îÜ ---                 ‚îÜ ---   ‚îÜ ---                ‚îÜ ---                ‚îÇ
‚îÇ i64     ‚îÜ datetime[Œºs]        ‚îÜ f64   ‚îÜ i64                ‚îÜ f64                ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1       ‚îÜ 2022-01-01 00:00:00 ‚îÜ 4.0   ‚îÜ 6                  ‚îÜ 5.0                ‚îÇ
‚îÇ 2       ‚îÜ 2022-01-02 00:00:00 ‚îÜ 5.0   ‚îÜ 6                  ‚îÜ 7.0                ‚îÇ
‚îÇ 3       ‚îÜ 2022-01-03 00:00:00 ‚îÜ 6.0   ‚îÜ 6                  ‚îÜ 9.0                ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [20]:
#Group by
df2 = pl.DataFrame(
    {
        "x": range(8),
        "y": ["A", "A", "A", "B", "B", "C", "X", "X"],
    }
)
print(df2)
print(df2.group_by("y", maintain_order=True).count())
print(df2.group_by("y", maintain_order=True).agg(
    pl.col("x").count().alias("count"),
    pl.col("x").sum().alias("sum"),
))

shape: (8, 2)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ x   ‚îÜ y   ‚îÇ
‚îÇ --- ‚îÜ --- ‚îÇ
‚îÇ i64 ‚îÜ str ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 0   ‚îÜ A   ‚îÇ
‚îÇ 1   ‚îÜ A   ‚îÇ
‚îÇ 2   ‚îÜ A   ‚îÇ
‚îÇ 3   ‚îÜ B   ‚îÇ
‚îÇ 4   ‚îÜ B   ‚îÇ
‚îÇ 5   ‚îÜ C   ‚îÇ
‚îÇ 6   ‚îÜ X   ‚îÇ
‚îÇ 7   ‚îÜ X   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
shape: (4, 2)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ y   ‚îÜ count ‚îÇ
‚îÇ --- ‚îÜ ---   ‚îÇ
‚îÇ str ‚îÜ u32   ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ A   ‚îÜ 3     ‚îÇ
‚îÇ B   ‚îÜ 2     ‚îÇ
‚îÇ C   ‚îÜ 1     ‚îÇ
‚îÇ X   ‚îÜ 2     ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
shape: (4, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ y   ‚îÜ count ‚îÜ sum ‚îÇ
‚îÇ --- ‚îÜ ---   ‚îÜ --- ‚îÇ
‚îÇ str ‚îÜ u32   ‚îÜ i64 ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ A   ‚îÜ 3     ‚îÜ 3   ‚îÇ
‚îÇ B   ‚îÜ 2     ‚îÜ 7   ‚îÇ
‚îÇ C   ‚îÜ 1     ‚îÜ 5   ‚îÇ
‚îÇ X   ‚îÜ 2     ‚îÜ 13  ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [37]:
#Join dataframes
df = pl.DataFrame(
    {
        "a": range(8),
        "b": np.random.rand(8),
        "d": [1, 2.0, float("nan"), float("nan"), 0, -5, -42, None],
    }
)

df2 = pl.DataFrame(
    {
        "x": range(8),
        "y": ["A", "A", "A", "B", "B", "C", "X", "X"],
    }
)
joined = df.join(df2, left_on="a", right_on="x") #left_on and right_on have the same info. Join combines that same info into one columns
print(joined)

shape: (8, 4)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ a   ‚îÜ b        ‚îÜ d     ‚îÜ y   ‚îÇ
‚îÇ --- ‚îÜ ---      ‚îÜ ---   ‚îÜ --- ‚îÇ
‚îÇ i64 ‚îÜ f64      ‚îÜ f64   ‚îÜ str ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 0   ‚îÜ 0.197025 ‚îÜ 1.0   ‚îÜ A   ‚îÇ
‚îÇ 1   ‚îÜ 0.690501 ‚îÜ 2.0   ‚îÜ A   ‚îÇ
‚îÇ 2   ‚îÜ 0.815058 ‚îÜ NaN   ‚îÜ A   ‚îÇ
‚îÇ 3   ‚îÜ 0.580804 ‚îÜ NaN   ‚îÜ B   ‚îÇ
‚îÇ 4   ‚îÜ 0.25513  ‚îÜ 0.0   ‚îÜ B   ‚îÇ
‚îÇ 5   ‚îÜ 0.601945 ‚îÜ -5.0  ‚îÜ C   ‚îÇ
‚îÇ 6   ‚îÜ 0.984781 ‚îÜ -42.0 ‚îÜ X   ‚îÇ
‚îÇ 7   ‚îÜ 0.106888 ‚îÜ null  ‚îÜ X   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [38]:
#Concat dataframes
stacked = df.hstack(df2)
print(stacked)

shape: (8, 5)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ a   ‚îÜ b        ‚îÜ d     ‚îÜ x   ‚îÜ y   ‚îÇ
‚îÇ --- ‚îÜ ---      ‚îÜ ---   ‚îÜ --- ‚îÜ --- ‚îÇ
‚îÇ i64 ‚îÜ f64      ‚îÜ f64   ‚îÜ i64 ‚îÜ str ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 0   ‚îÜ 0.197025 ‚îÜ 1.0   ‚îÜ 0   ‚îÜ A   ‚îÇ
‚îÇ 1   ‚îÜ 0.690501 ‚îÜ 2.0   ‚îÜ 1   ‚îÜ A   ‚îÇ
‚îÇ 2   ‚îÜ 0.815058 ‚îÜ NaN   ‚îÜ 2   ‚îÜ A   ‚îÇ
‚îÇ 3   ‚îÜ 0.580804 ‚îÜ NaN   ‚îÜ 3   ‚îÜ B   ‚îÇ
‚îÇ 4   ‚îÜ 0.25513  ‚îÜ 0.0   ‚îÜ 4   ‚îÜ B   ‚îÇ
‚îÇ 5   ‚îÜ 0.601945 ‚îÜ -5.0  ‚îÜ 5   ‚îÜ C   ‚îÇ
‚îÇ 6   ‚îÜ 0.984781 ‚îÜ -42.0 ‚îÜ 6   ‚îÜ X   ‚îÇ
‚îÇ 7   ‚îÜ 0.106888 ‚îÜ null  ‚îÜ 7   ‚îÜ X   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [39]:
#Supports numpy functions
df = pl.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})

out = df.select(np.log(pl.all()).name.suffix("_log"))
print(out)

shape: (3, 2)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ a_log    ‚îÜ b_log    ‚îÇ
‚îÇ ---      ‚îÜ ---      ‚îÇ
‚îÇ f64      ‚îÜ f64      ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 0.0      ‚îÜ 1.386294 ‚îÇ
‚îÇ 0.693147 ‚îÜ 1.609438 ‚îÇ
‚îÇ 1.098612 ‚îÜ 1.791759 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [40]:
#Pivot
df = pl.DataFrame(
    {
        "foo": ["A", "A", "B", "B", "C"],
        "N": [1, 2, 2, 4, 2],
        "bar": ["k", "l", "m", "n", "o"],
    }
)
print(df)

out = df.pivot(index="foo", columns="bar", values="N", aggregate_function="first")
print(out)

shape: (5, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ foo ‚îÜ N   ‚îÜ bar ‚îÇ
‚îÇ --- ‚îÜ --- ‚îÜ --- ‚îÇ
‚îÇ str ‚îÜ i64 ‚îÜ str ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ A   ‚îÜ 1   ‚îÜ k   ‚îÇ
‚îÇ A   ‚îÜ 2   ‚îÜ l   ‚îÇ
‚îÇ B   ‚îÜ 2   ‚îÜ m   ‚îÇ
‚îÇ B   ‚îÜ 4   ‚îÜ n   ‚îÇ
‚îÇ C   ‚îÜ 2   ‚îÜ o   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
shape: (3, 6)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ foo ‚îÜ k    ‚îÜ l    ‚îÜ m    ‚îÜ n    ‚îÜ o    ‚îÇ
‚îÇ --- ‚îÜ ---  ‚îÜ ---  ‚îÜ ---  ‚îÜ ---  ‚îÜ ---  ‚îÇ
‚îÇ str ‚îÜ i64  ‚îÜ i64  ‚îÜ i64  ‚îÜ i64  ‚îÜ i64  ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ A   ‚îÜ 1    ‚îÜ 2    ‚îÜ null ‚îÜ null ‚îÜ null ‚îÇ
‚îÇ B   ‚îÜ null ‚îÜ null ‚îÜ 2    ‚îÜ 4    ‚îÜ null ‚îÇ
‚îÇ C   ‚îÜ null ‚îÜ null ‚îÜ null ‚îÜ null ‚îÜ 2    ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [41]:
#Melt
df = pl.DataFrame(
    {
        "A": ["a", "b", "a"],
        "B": [1, 3, 5],
        "C": [10, 11, 12],
        "D": [2, 4, 6],
    }
)
print(df)

out = df.melt(id_vars=["A", "B"], value_vars=["C", "D"])
print(out)

shape: (3, 4)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ A   ‚îÜ B   ‚îÜ C   ‚îÜ D   ‚îÇ
‚îÇ --- ‚îÜ --- ‚îÜ --- ‚îÜ --- ‚îÇ
‚îÇ str ‚îÜ i64 ‚îÜ i64 ‚îÜ i64 ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ a   ‚îÜ 1   ‚îÜ 10  ‚îÜ 2   ‚îÇ
‚îÇ b   ‚îÜ 3   ‚îÜ 11  ‚îÜ 4   ‚îÇ
‚îÇ a   ‚îÜ 5   ‚îÜ 12  ‚îÜ 6   ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
shape: (6, 4)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ A   ‚îÜ B   ‚îÜ variable ‚îÜ value ‚îÇ
‚îÇ --- ‚îÜ --- ‚îÜ ---      ‚îÜ ---   ‚îÇ
‚îÇ str ‚îÜ i64 ‚îÜ str      ‚îÜ i64   ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ a   ‚îÜ 1   ‚îÜ C        ‚îÜ 10    ‚îÇ
‚îÇ b   ‚îÜ 3   ‚îÜ C        ‚îÜ 11    ‚îÇ
‚îÇ a   ‚îÜ 5   ‚îÜ C        ‚îÜ 12    ‚îÇ
‚îÇ a   ‚îÜ 1   ‚îÜ D        ‚îÜ 2     ‚îÇ
‚îÇ b   ‚îÜ 3   ‚îÜ D        ‚îÜ 4     ‚îÇ
‚îÇ a   ‚îÜ 5   ‚îÜ D        ‚îÜ 6     ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [46]:
#Other functionalites (time series)
df = pl.read_csv("apple_stock.csv", try_parse_dates=False)
df = df.with_columns(pl.col("Date").str.to_date("%Y-%m-%d")) #Parses strings to dates
df_with_year = df.with_columns(pl.col("Date").dt.year().alias("year")) #.dt pulls the year
print(df)
print(df_with_year)

shape: (100, 2)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Date       ‚îÜ Close  ‚îÇ
‚îÇ ---        ‚îÜ ---    ‚îÇ
‚îÇ date       ‚îÜ f64    ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1981-02-23 ‚îÜ 24.62  ‚îÇ
‚îÇ 1981-05-06 ‚îÜ 27.38  ‚îÇ
‚îÇ 1981-05-18 ‚îÜ 28.0   ‚îÇ
‚îÇ 1981-09-25 ‚îÜ 14.25  ‚îÇ
‚îÇ ‚Ä¶          ‚îÜ ‚Ä¶      ‚îÇ
‚îÇ 2012-12-04 ‚îÜ 575.85 ‚îÇ
‚îÇ 2013-07-05 ‚îÜ 417.42 ‚îÇ
‚îÇ 2013-11-07 ‚îÜ 512.49 ‚îÇ
‚îÇ 2014-02-25 ‚îÜ 522.06 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò
shape: (100, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Date       ‚îÜ Close  ‚îÜ year ‚îÇ
‚îÇ ---        ‚îÜ ---    ‚îÜ ---  ‚îÇ
‚îÇ date       ‚îÜ f64    ‚îÜ i32  ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1981-02-23 ‚îÜ 24.62  ‚îÜ 1981 ‚îÇ
‚îÇ 1981-05-06 ‚îÜ 27.38  ‚îÜ 1981 ‚îÇ
‚îÇ 1981-05-18 ‚îÜ 28.0   ‚îÜ 1981 ‚îÇ
‚îÇ 1981-09-25 ‚îÜ 14.25  ‚îÜ 1981 ‚îÇ
‚îÇ ‚Ä¶          ‚îÜ ‚Ä¶      ‚îÜ ‚Ä¶    ‚îÇ
‚îÇ 2012-12-04 ‚îÜ 575.85 ‚îÜ 2012 ‚îÇ
‚îÇ 2013-07-05 ‚îÜ 417.42 ‚îÜ 2013 ‚îÇ
‚îÇ 2013-11-07 ‚îÜ 512.49 ‚îÜ 2013 ‚îÇ
‚îÇ 2014-02-25 ‚îÜ 522.06 ‚îÜ 2014 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [47]:
filtered_df = df.filter(
    pl.col("Date") == datetime(1995, 10, 16),
)
print(filtered_df)

shape: (1, 2)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Date       ‚îÜ Close ‚îÇ
‚îÇ ---        ‚îÜ ---   ‚îÇ
‚îÇ date       ‚îÜ f64   ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1995-10-16 ‚îÜ 36.13 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [48]:
filtered_range_df = df.filter(
    pl.col("Date").is_between(datetime(1995, 7, 1), datetime(1995, 11, 1)),
)
print(filtered_range_df)

shape: (2, 2)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Date       ‚îÜ Close ‚îÇ
‚îÇ ---        ‚îÜ ---   ‚îÇ
‚îÇ date       ‚îÜ f64   ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1995-07-06 ‚îÜ 47.0  ‚îÇ
‚îÇ 1995-10-16 ‚îÜ 36.13 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [49]:
df_sort = df.sort("Date")
print(df_sort)

shape: (100, 2)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Date       ‚îÜ Close  ‚îÇ
‚îÇ ---        ‚îÜ ---    ‚îÇ
‚îÇ date       ‚îÜ f64    ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1981-02-23 ‚îÜ 24.62  ‚îÇ
‚îÇ 1981-05-06 ‚îÜ 27.38  ‚îÇ
‚îÇ 1981-05-18 ‚îÜ 28.0   ‚îÇ
‚îÇ 1981-09-25 ‚îÜ 14.25  ‚îÇ
‚îÇ ‚Ä¶          ‚îÜ ‚Ä¶      ‚îÇ
‚îÇ 2012-12-04 ‚îÜ 575.85 ‚îÇ
‚îÇ 2013-07-05 ‚îÜ 417.42 ‚îÇ
‚îÇ 2013-11-07 ‚îÜ 512.49 ‚îÇ
‚îÇ 2014-02-25 ‚îÜ 522.06 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [52]:
#Average per time period
annual_average_df = df_sort.group_by_dynamic("Date", every="1y").agg(pl.col("Close").mean())#df has to be sorted!!
df_with_year = annual_average_df.with_columns(pl.col("Date").dt.year().alias("year"))
print(df_with_year)

shape: (34, 3)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ Date       ‚îÜ Close     ‚îÜ year ‚îÇ
‚îÇ ---        ‚îÜ ---       ‚îÜ ---  ‚îÇ
‚îÇ date       ‚îÜ f64       ‚îÜ i32  ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 1981-01-01 ‚îÜ 23.5625   ‚îÜ 1981 ‚îÇ
‚îÇ 1982-01-01 ‚îÜ 11.0      ‚îÜ 1982 ‚îÇ
‚îÇ 1983-01-01 ‚îÜ 30.543333 ‚îÜ 1983 ‚îÇ
‚îÇ 1984-01-01 ‚îÜ 27.583333 ‚îÜ 1984 ‚îÇ
‚îÇ ‚Ä¶          ‚îÜ ‚Ä¶         ‚îÜ ‚Ä¶    ‚îÇ
‚îÇ 2011-01-01 ‚îÜ 368.225   ‚îÜ 2011 ‚îÇ
‚îÇ 2012-01-01 ‚îÜ 560.965   ‚îÜ 2012 ‚îÇ
‚îÇ 2013-01-01 ‚îÜ 464.955   ‚îÜ 2013 ‚îÇ
‚îÇ 2014-01-01 ‚îÜ 522.06    ‚îÜ 2014 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò